@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.AboutUs").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-contact-page");
}
<section class="content-page">
    @await Component.InvokeAsync("TopicBlock", new { systemName = "AboutUs" })
    @await Component.InvokeAsync("NewsletterBox")
</section>