@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.GetToKnowUs").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-topic-page");
}
<section class="content-page">
    @await Component.InvokeAsync("TopicBlock", new { systemName = "WhatIsKonnectAll" })
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.GetToKnowUs })
</section>