@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.JoinUs").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-topic-page");
}
<section class="join-the-team content-page">
    @await Component.InvokeAsync("TopicBlock", new { systemName = "JoinUs" })
    <div id="application-form" class="second-section">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.JointThemTeam })
    </div>
    @await Component.InvokeAsync("NewsletterBox")
</section>